@import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css';

body{
   font-family:arial,sans-serif;
   height:100%;
   margin:0;
   overflow-x: hidden;
   overflow-y: auto;
}


.header{
   display: flex;
   justify-content: flex-end;
   align-items: center;
	font-size: 13px;
	background: #fff;
	color: #333333;
}

.header-icons{
   text-decoration: none;
   margin: 18px 18px 0 2px;
}

header img{
	height: 30px;
}

#grey{
   color: #333333;
}

#grey:hover{
   color: #585858;
   text-decoration: underline;
}

#lightgrey{
   color: #848484;
   font-size: 16px;
}

#lightgrey:hover{
   color: #333333;
}

.zawartosc {
	padding-top:12%;
   display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
   word-wrap: break-word;
    outline: none;
   -webkit-tap-highlight-color: transparent;
    line-height: 20px;
}

.zawartosc img {
   height: 90px;
   padding-bottom: 20px;
}

.zawartosc-input{
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px rgb(223, 225, 229) solid;
    width: 500px;
    height: 45px;
}

.zawartosc-input:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.zawartosc-input--isActive {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.zawartosc-input-text {
   border: none;
   width: 450px;
   margin: 4px auto;
}

.fa-search{
   cursor: pointer;
   margin-left: 15px;
   margin-right: 5px;
   color: #58ACFA;
}

.fa-keyboard{
   cursor: pointer;
   margin-left: 5px;
   margin-right: 15px;
   color: #585858;
}

.fa-microphone{
   cursor: pointer;
   margin-right: 15px;
   color: #58ACFA;
}

.przycisk-button.mdc-button.mdc-button--unelevated{
   margin: 8px;
   background-color: rgb(244,244,244);
   text-transform: initial;
   font-family: arial, sans-serif;
   letter-spacing: normal;
}

.przycisk-button.mdc-button.mdc-button--unelevated a{
      text-decoration: none;
      color: rgb(108,110,110);
}

.przycisk-button.mdc-button.mdc-button--unelevated:hover{
   color: #333333;
   border: 1px rgb(108,110,110) solid;
   text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-more {
    height: 40px;
    width: 100%;
    color: rgb(108, 110, 110);
    background-color: rgb(242, 242, 242);
    text-decoration: none;
    border-top: 1px rgb(228, 228, 228) solid;
    margin: 0;
}

.footer-more-country {
    margin-left: 15px;
    font-size: 16px;
}

.footer-more-left:hover {
    text-decoration: underline;
}

.footer-more-right:hover {
    text-decoration: underline;
}

.footer-more-left {
   color: rgb(108, 110, 110);
   font-size: 13px;
   text-decoration:none;
    float: left;
    padding: 15px;
}

.footer-more-right {
   color: rgb(108, 110, 110);
   font-size: 13px;
   text-decoration:none;
    float: right;
    padding: 15px;
}

table {
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    text-align: left;
    width: 450px;
    color: black;
    left: 39%;
    background-color: white;
}